{% extends 'base.html' %}

{% block title %} 
Home page
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home/css/style.css') }}">
{% endblock %}

{% block content %} 
<div class = 'background-image'>
    <img src="static/home/img/praktikimg.jpg" alt="background">
</div>
<div class = 'all-form'>
    <form method="post" class = 'feedback-form'>
        <div class = 'leave-feedback-text'>
            <p>Leave Feedback</p>
        </div>
        <div class = 'feedback-form1'>
            <div class = 'enter-name'>
                <p class = "input-desc">Enter your name:</p>
                <label><input type="text" name = "client_name"></label>
            </div>
            <div class = 'enter-email'>
                <p class = "input-desc">Enter your email:</p>
                <label><input type="text" name = "client_email" ></label>
            </div>
            <div class = 'enter-feedback'>
            <p class = "input-desc">Enter your feedback:</p>
            <label><textarea name="client_review" id=""></textarea></label>
            </div>
        </div>
            
                <button type = "submit" class = 'send-button'>Send Feedback</button>
            
        
    </form>
</div>
{% endblock %}
