{% extends 'base.html' %}

{% block title %} 
Home page
{% endblock %}

{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'home/css/style.css') }}">
{% endblock %}

{% block content %} 
    <img src="static/home/img/bg_blur.png" alt="background" class = "background-image">


    <h1 class = "name-of-site">Maglev Tourist Agency</h1>

    <div class = "all-benefits">
        <div class = "benefit">
            <img src="static/home/img/1-benefit.png" alt="1-benefit" class = "benefit-img">
            <p class = "benefit-text">Find the best tours through Ukraine and its greatest cities</p>

        </div>
        <div class = "benefit">
            <img src="static/home/img/2-benefit.png" alt="2-benefit" class = "benefit-img">
            <p class = "benefit-text">Use the most comfort and innovative ideas of transportation</p>

        </div>
        <div class = "benefit">
            <img src="static/home/img/3-benefit.png" alt="3-benefit" class = "benefit-img">
            <p class = "benefit-text">Spend lesser money than with other tour agencies</p>
        </div>
    </div>


    <div class = 'all-form'>
        <form method="post" class = 'feedback-form'>
            
            <p class = 'leave-feedback-text'>Leave Feedback</p>
           
            <div class = 'feedback-form1'>
                <div class = 'enter-name input-field'>
                    <p>Enter your name:</p>
                    <input type="text" name = "client_name" required>
                </div>
                <div class = 'enter-email input-field'>
                    <p>Enter your email:</p>
                    <input type="text" name = "client_email"  required>
                </div>
                <div class = 'enter-feedback input-field'>
                <p>Enter your feedback:</p>
                <textarea name="client_review" id="" required></textarea>
                </div>
            </div>
                
            <button type = "submit" class = 'send-button'>Send Feedback</button>
            {% if correct %}
                <p class = "success-text">The feedback has been sent. </p>
            {% endif %}  
            
        </form>
    </div>
{% endblock %}
