{% extends "base.html" %}

{% block title %} Login page {% endblock %}

{% block content %} 

    <h1>Login page</h1> <p></p>
    <form method = "post">

        <input type="text" name="username" placeholder="Username"><br> <br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <button>Login</button>
        {% if add_text is defined %}
            <p class = "additional-text" style = "color: red;">{{ add_text }}</p>
        {% endif %}

    </form>


{% endblock %}