{% extends "base.html" %}

{% block title %} Registration Page {% endblock %}

{% block links %} 
    <link rel="stylesheet" href="{{ url_for('static', filename = 'user/css/registration.css') }}">
{% endblock %}

{% block content %}

    <img src="{{ url_for('static', filename = 'user/images/bg.png') }}" class = "bg-image">

    {% if send is defined %}
        <div class = "dimmer">
            <div class = "modal">
                <img src="{{ url_for('static', filename = 'user/images/success.png') }}" class = "success-image">
                <p class = "success-text">You successfully registered</p>
                <a href = "/user/login" class = "success-button">Go to Authorization</a>
            </div>
        </div>
    {% else %}
        <form method = "post" class = "reg-form">
            <h1 class = "head-title">Registration</h1>
            <div class = "input-block">
                <p class = "input-desc">Create username</p>
                <input type="text" name="username"  class = "reg-input" placeholder = "Enter new username..." required><br><br>
            </div>
            <div class = "input-block">
                <p class = "input-desc">Create password</p>
                <input type="password" name="password" class = "reg-input" placeholder = "Enter new password..." required><br><br>
            </div>
            <button class = "reg-button">Register</button>

        </form>
    {% endif %}


{% endblock %}