@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.background-image-view{
    width: 100%;
    height: 100%;
    position: fixed;
}
.tour{
    position: absolute;
   
    color: white;
    font-family: Inter;
    font-weight: 400;
    font-size: 40px;
}
.title{
    /* padding-left: 30px; */
    color: white;
    font-family: Inter;
    font-weight: 800;
    font-size: 64px;
}
.description{
    padding-left: 30px;

}
.tour{
    width: 100%;
    height: 100%;
}
.block-view{
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-left: 60px;
}

.tour-desc{
    margin: 10px 0px 10px 0px;
    font-weight: 300;
}

.tour-title{
    margin: 100px 0px 20px 0px;
}