@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --size: 0.9;
}

img{
    position: fixed;
    width: 100%;
    height: 100%;
}
.feedback-form{
    margin: auto;
   
    background: linear-gradient(#705DAD, #5C4C92);
    border: #25233E solid 5px;
    border-radius: 40px;
    width: calc(664px * var(--size));
    height: calc(852px * var(--size));
   
    overflow: hidden;
   

}

label{
    color: white;
    font-size: calc(40px * var(--size));
    font-weight: 400;
   
}
input{
    
    background: #3D3F6C;
    border: #343559 solid 4px;
    border-radius: calc(20px * var(--size));
    width: calc(512px * var(--size));
    height: calc(65px * var(--size));
}
textarea{
    background: #3D3F6C;
    border: #343559 solid 4px;
    border-radius: calc(20px * var(--size));
    width: calc(512px * var(--size));
    height: calc(130px * var(--size));
}

.leave-feedback-text{
    text-align: center;
    color: white;
    font-size: calc(40px * var(--size));
    font-weight: 400;
    font-family: inter;
}

.send-button{
    left: 42%;
    position: absolute;
    text-align: center;
    background: #7A67B6;
    border: #35365D solid 4px;
    border-radius: calc(20px * var(--size));
    width: calc(344px * var(--size));
    height: calc(78px * var(--size));
    color: white;
    font-size: calc(40px * var(--size));
    
}
.feedback-form1{
    width: 80%;
    margin: auto;
    padding-bottom: calc(30px * var(--size));
    color: white;
    font-size: calc(40px * var(--size));
    font-weight: 400;
    font-family: Inter;
}
.enter-name{
    max-width: calc(512px * var(--size));
    max-height: calc(123px * var(--size));
    padding-bottom: calc(40px * var(--size));
}
.enter-email{
    max-width: calc(512px * var(--size));
    max-height: calc(123px * var(--size));
    padding-bottom: calc(40px * var(--size));
}
.enter-feedback{
    max-width: calc(512px * var(--size));
    max-height: calc(188px * var(--size));
    padding-bottom: calc(20px * var(--size));
}

.all-form{
   position: relative;
   z-index: 1;
   left: 1%;
}
#home{
    font-weight: 700;
}